<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/Javascripts/main.js"></script>
    <link rel="stylesheet" href="../css/Mainstyle.css">
</head>
<body>
    <header>
        <h1>NomeDoSite</h1>
    </header>
    <nav>
        <h2>nav</h2>
    </nav>
    <main>
        <section class="S1">
            <h2>section</h2>
        </section>      
    </main>
</body>
</html>